# Build outputs
/pyright-go
/pyright-go-race
/tokenserver
bin/

# Written by tools/ts-bridge/run-ts-tests.js; contains an absolute path to the
# locally installed esbuild package.
tools/ts-bridge/esbuild-shim.js
